button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
}

button:hover {
    background: #cccbcb;
}

div {
    display: block;
    width: 500px;
    border: 2px solid grey;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    background: #d4d7e4;
}

h3 {
    text-align: center;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}

a {
    border: 2px solid #454545;
    border-radius: 30px;
    display: inline-block;
    padding: 5px 30px;
    text-decoration: none;
    color: #000;
    background: #efefef;
}

a:hover {
    background: #cccbcb;
}